<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css') }}">
    <title>Listado de pedidos</title>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">Volver al inicio</a>
    </header>
    <h1>Listado de pedidos</h1>
    <table>
        <thead>
            <tr>
                <th>Tipo de producto</th>
                <th>Productos</th>
                <th>Región</th>
                <th>Comuna</th>
                <th>Nombre comprador</th>
            </tr>
        </thead>
        <tbody class="clickable-table">
            <tr onclick="location.href = 'detalles-pedido.html';">
                <td>Frutas</td>
                <td>Manzana, Plátano</td>
                <td>Metropolitana</td>
                <td>Santiago</td>
                <td>Luchito Comunica</td>
            </tr>
            <tr onclick="location.href = 'detalles-pedido.html';">
                <td>Frutas</td>
                <td>Manzana</td>
                <td>Metropolitana</td>
                <td>Santiago</td>
                <td>Luchito Comunica</td>
            </tr>
            <tr onclick="location.href = 'detalles-pedido.html';">
                <td>Verdura</td>
                <td>Apio</td>
                <td>Metropolitana</td>
                <td>Santiago</td>
                <td>Luchito Comunica</td>
            </tr>
            <tr onclick="location.href = 'detalles-pedido.html';">
                <td>Verdura</td>
                <td>Espinaca</td>
                <td>Metropolitana</td>
                <td>Santiago</td>
                <td>Luchito Comunica</td>
            </tr>
            <tr onclick="location.href = 'detalles-pedido.html';">
                <td>Frutas</td>
                <td>Pera, Plátano, Damasco</td>
                <td>Metropolitana</td>
                <td>Santiago</td>
                <td>Luchito Comunica</td>
            </tr>
            <!-- Agrega más filas según sea necesario -->
        </tbody>
    </table>
</body>
</html>